@import "colors";

div.highlight {
  margin-bottom: 25px;
}

code {
  font-family: "Monaco", "Courier", monospace;
  font-size: 80%;
}

.highlight {
  @include mode-background-color("code-background-color");
  padding: 1px 5px;
}

/* Comment */
.highlight .c {
  @include mode-color("comment-color");
  font-style: italic;
}

/* Error */
.highlight .err {
  @include mode-border(1px, solid, "error-color");
}

/* Keyword */
.highlight .k {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Operator */
.highlight .o {
  @include mode-color("operator-color");
}

/* Comment.Hashbang */
.highlight .ch {
  @include mode-color("comment-color");
  font-style: italic;
}

/* Comment.Multiline */
.highlight .cm {
  @include mode-color("comment-color");
  font-style: italic;
}

/* Comment.Preproc */
.highlight .cp {
  @include mode-color("comment-color");
}

/* Comment.PreprocFile */
.highlight .cpf {
  @include mode-color("comment-color");
  font-style: italic;
}

/* Comment.Single */
.highlight .c1 {
  @include mode-color("comment-color");
  font-style: italic;
}

/* Comment.Special */
.highlight .cs {
  @include mode-color("comment-color");
  font-style: italic;
}

/* Generic.Deleted */
.highlight .gd {
  @include mode-color("deleted-color");
}

/* Generic.Emph */
.highlight .ge {
  font-style: italic;
}

/* Generic.Error */
.highlight .gr {
  @include mode-color("error-color");
}

/* Generic.Heading */
.highlight .gh {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Generic.Inserted */
.highlight .gi {
  @include mode-color("inserted-color");
}

/* Generic.Output */
.highlight .go {
  @include mode-color("output-color");
}

/* Generic.Prompt */
.highlight .gp {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .gu {
  @include mode-color("subheading-color");
  font-weight: bold;
}

/* Generic.Traceback */
.highlight .gt {
  @include mode-color("traceback-color");
}

/* Keyword.Constant */
.highlight .kc {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Keyword.Declaration */
.highlight .kd {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Keyword.Namespace */
.highlight .kn {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Keyword.Pseudo */
.highlight .kp {
  @include mode-color("keyword-color");
}

/* Keyword.Reserved */
.highlight .kr {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Keyword.Type */
.highlight .kt {
  @include mode-color("type-color");
}

/* Literal.Number */
.highlight .m {
  @include mode-color("number-color");
}

/* Parentheses */
.highlight .p {
  @include mode-color("operator-color");
}

/* Literal.String */
.highlight .s {
  @include mode-color("string-color");
}

/* Name.Attribute */
.highlight .na {
  @include mode-color("name-color");
}

/* Name.Builtin */
.highlight .nb {
  @include mode-color("keyword-color");
}

/* Name.Class */
.highlight .nc {
  @include mode-color("name-color");
  font-weight: bold;
}

/* Name.Constant */
.highlight .no {
  @include mode-color("name-color");
}

/* Name.Decorator */
.highlight .nd {
  @include mode-color("name-color");
}

/* Name.Entity */
.highlight .ni {
  @include mode-color("name-color");
  font-weight: bold;
}

/* Name.Exception */
.highlight .ne {
  @include mode-color("name-color");
  font-weight: bold;
}

/* Name.Function */
.highlight .nf {
  @include mode-color("name-color");
}

/* Name.Label */
.highlight .nl {
  @include mode-color("name-color");
}

/* Name.Namespace */
.highlight .nn {
  @include mode-color("name-color");
  font-weight: bold;
}

/* Name.Tag */
.highlight .nt {
  @include mode-color("keyword-color");
  font-weight: bold;
}

/* Name.Variable */
.highlight .nv {
  @include mode-color("name-color");
}

/* Basic name */
.highlight .nx {
  @include mode-color("base-color");
}

/* Operator.Word */
.highlight .ow {
  @include mode-color("operator-color");
  font-weight: bold;
}

/* Text.Whitespace */
.highlight .w {
  @include mode-color("whitespace-color");
}

/* Literal.Number.Bin */
.highlight .mb {
  @include mode-color("number-color");
}

/* Literal.Number.Float */
.highlight .mf {
  @include mode-color("number-color");
}

/* Literal.Number.Hex */
.highlight .mh {
  @include mode-color("number-color");
}

/* Literal.Number.Integer */
.highlight .mi {
  @include mode-color("number-color");
}

/* Literal.Number.Oct */
.highlight .mo {
  @include mode-color("number-color");
}

/* Literal.String.Affix */
.highlight .sa {
  @include mode-color("string-color");
}

/* Literal.String.Backtick */
.highlight .sb {
  @include mode-color("string-color");
}

/* Literal.String.Char */
.highlight .sc {
  @include mode-color("string-color");
}

/* Literal.String.Delimiter */
.highlight .dl {
  @include mode-color("string-color");
}

/* Literal.String.Doc */
.highlight .sd {
  @include mode-color("string-color");
  font-style: italic;
}

/* Literal.String.Double */
.highlight .s2 {
  @include mode-color("string-color");
}

/* Literal.String.Escape */
.highlight .se {
  @include mode-color("string-escape-color");
  font-weight: bold;
}

/* Literal.String.Heredoc */
.highlight .sh {
  @include mode-color("string-color");
}

/* Litrl.String.Interpol */
.highlight .si {
  @include mode-color("string-escape-color");
  font-weight: bold;
}

/* Literal.String.Other */
.highlight .sx {
  @include mode-color("keyword-color");
}

/* Literal.String.Regex */
.highlight .sr {
  @include mode-color("regex-color");
}

/* Literal.String.Single */
.highlight .s1 {
  @include mode-color("string-color");
}

/* Literal.String.Symbol */
.highlight .ss {
  @include mode-color("string-escape-color");
}

/* Name.Builtin.Pseudo */
.highlight .bp {
  @include mode-color("keyword-color");
}

/* Name.Function.Magic */
.highlight .fm {
  @include mode-color("name-color");
}

/* Name.Variable.Class */
.highlight .vc {
  @include mode-color("name-color");
}

/* Name.Variable.Global */
.highlight .vg {
  @include mode-color("name-color");
}

/* Name.Variable.Instance */
.highlight .vi {
  @include mode-color("name-color");
}

/* Name.Variable.Magic */
.highlight .vm {
  @include mode-color("name-color");
}

/* Literal.Number.Integer.Long */
.highlight .il {
  @include mode-color("number-color");
}
