.article-header {
  border-bottom: 1px solid #D9D9D9;
}

.article-header > h2 {
  display: inline-block;
}

.article-header > .date {
  display: inline-block;
  font-size: small;
  margin-left: 10px;
  opacity: 0.5;
}
