$dark-gray-text-color: #666666;
$light-gray-text-color: #D9D9D9;
$line-color: $light-gray-text-color;

.date {
  display: inline-block;
  font-size: small;
  margin-left: 10px;
  opacity: 0.5;
}

.tags {
  display: inline-block;
  margin-bottom: 10px;
}

.tags > .tag {
  background: $line-color;
  border-radius: 3px;
  color: $dark-gray-text-color;
  display: inline-block;
  font-size: 80%;
  margin: 0 5px;
  padding: 0 4px;
}
