<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{ site.name }} | Blog | {{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    <article>
      <div class="article-header">
        <h2>{{ page.title | xml_escape }}</h2>
        <div class="date">{{ page.date | date_to_string }}</div>
        <div class="tags">
        {% for tag in page.tags %}
          <div class="tag">{{ tag | xml_escape }}</div>
        {% endfor %}
        </div>
      </div>
      {{ content }}
    </article>
  </body>
</html>
